@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.lg-main{
  background: rgba(1, 67, 124, 0.354);
  box-shadow: 2px 2px 10px 0.7px rgba(0, 52, 98, 0.608) ;

}
.login-bg{
  background-color:rgb(88, 88, 190);
  background-image:
  radial-gradient(at 40% 20%, rgb(106, 130, 228) 0px, transparent 50%),
  radial-gradient(at 80% 0%, rgb(41, 151, 210) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(214,86%,52%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, rgb(81, 144, 220), transparent 50%),
  radial-gradient(at 0% 100%, rgba(105, 137, 219, 0.791) 0px, transparent 50%);
  }
  .auth-bg{
    background-color: rgba(55, 79, 144, 0.708);
  }
  .auth-bg:hover{
    background-color: rgba(54, 106, 204, 0.658);
  }
  .custom-border{
    border-radius:  24% 76% 62% 38% / 49% 32% 68% 51%;
  }
  .opacityAnimation{
    animation: opacity 0.5s linear;
  }
  @keyframes opacity{
    from{opacity: 0.7;}
    to{opacity: 1;}
  }

@layer components{
  .center {
    @apply flex items-center justify-center
  }
  .between {
    @apply flex items-center justify-between
  }
  .f-col{
    @apply flex flex-col 
  }
  .delay{
    @apply duration-200 transition-all cursor-pointer 
  }
  
}